.dashboard-hero{

max-width:1300px;

margin:auto;

padding:60px;

display:flex;

justify-content:space-between;

align-items:center;

gap:60px;

background:#17120F;

border:1px solid #2F251C;

border-radius:24px;

}

.hero-left{

flex:1;

}

.hero-tag{

color:#D4A43C;

font-size:18px;

margin-bottom:20px;

font-weight:600;

}

.hero-left h1{

font-size:3.2rem;

color:white;

line-height:1.2;

margin-bottom:20px;

}

.hero-left span{

color:#D4A43C;

}

.hero-text{

color:#B7A99A;

font-size:18px;

line-height:1.8;

margin-bottom:35px;

max-width:600px;

}

.hero-buttons{

display:flex;

gap:20px;

flex-wrap:wrap;

}

.hero-primary-btn{

background:#D4A43C;

color:black;

padding:16px 32px;

border-radius:12px;

font-weight:700;

text-decoration:none;

transition:.3s;

}

.hero-primary-btn:hover{

background:#E5B54A;

transform:translateY(-2px);

}

.hero-secondary-btn{

border:1px solid #3A3028;

padding:16px 32px;

border-radius:12px;

color:white;

text-decoration:none;

transition:.3s;

}

.hero-secondary-btn:hover{

border-color:#D4A43C;

}

.hero-right{

width:320px;

}

.streak-card{

background:#211A16;

padding:35px;

border-radius:18px;

border:1px solid #33281F;

}

.streak-card h3{

color:#D4A43C;

margin-bottom:15px;

}

.streak-card h2{

font-size:3rem;

color:white;

margin-bottom:15px;

}

.streak-card p{

color:#A79889;

line-height:1.7;

}

@media(max-width:900px){

.dashboard-hero{

flex-direction:column;

padding:40px 25px;

}

.hero-left h1{

font-size:2.4rem;

}

.hero-right{

width:100%;

}

}