.recommended-section{

max-width:1300px;

margin:70px auto;

}

.recommended-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}

.recommended-card{

background:#17120F;

border:1px solid #2F251C;

border-radius:18px;

overflow:hidden;

text-decoration:none;

transition:.3s;

}

.recommended-card:hover{

transform:translateY(-6px);

border-color:#D4A43C;

}

.recommended-card img{

width:100%;

height:260px;

object-fit:cover;

}

.recommended-content{

padding:22px;

}

.recommended-content h3{

color:white;

margin-bottom:10px;

font-size:22px;

}

.recommended-content p{

color:#B7A99A;

}