.back-icon{

width:48px;

height:48px;

display:flex;

align-items:center;

justify-content:center;

background:transparent;

border:none;

color:#F5EFE5;

cursor:pointer;

border-radius:50%;

transition:.3s;

}

.back-icon:hover{

background:#1B1612;

color:#D4A43C;

transform:translateX(-3px);

}