.footer{

background:#070605;

padding:80px 8% 30px;

border-top:1px solid #2F251C;

}

.footer-container{

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:80px;

}

.footer-logo{

display:flex;

align-items:center;

gap:12px;

color:#D4A43C;

margin-bottom:25px;

}

.footer-logo h2{

font-size:2rem;

}

.footer-about p{

color:#B6A897;

line-height:1.8;

margin-bottom:30px;

}

.socials{

display:flex;

gap:18px;

color:#D4A43C;

cursor:pointer;

}

.footer-links{

display:flex;

flex-direction:column;

gap:15px;

}

.footer-links h3{

color:white;

margin-bottom:12px;

}

.footer-links a{

color:#B6A897;

text-decoration:none;

transition:.3s;

}

.footer-links a:hover{

color:#D4A43C;

}

.footer-bottom{

border-top:1px solid #2F251C;

margin-top:70px;

padding-top:25px;

text-align:center;

color:#8A7C6D;

}

@media(max-width:900px){

.footer-container{

grid-template-columns:1fr;

gap:50px;

}

}